@model IEnumerable<DGSappSem2Final.Models.Staff.StaffPositions>

@{
    ViewBag.Title = "Staff Positions";
}

<h2>Staff Positions</h2>

<p>
    @Html.ActionLink("Create A New Staff Position", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffPositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LimitedPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffPositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimitedPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StaffPositionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StaffPositionId }) 
        </td>
    </tr>
}

</table>
