@model IEnumerable<DGSappSem2Final.Models.Library.BookReservation>

@{
    ViewBag.Title = "Index";
}

<h2>Book Resevations </h2>

<p>
    @Html.ActionLink("Check out a book ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |*@
                @Html.ActionLink("Check In Book", "Edit", new { id = item.ReservationId }) 
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ReservationId }) |*@
                @*if statement go here*@

                @if (item.Status == "Due")
                {
                @Html.ActionLink("| SMS Reminder", "SMSReminder", new { id = item.ReservationId })
                }
            </td>
        </tr>
    }

</table>

@*@Html.ActionLink("Check in a book ", "Edit")*@

