@model DGSappSem2Final.Models.Assements.StudentAssessment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAssessment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffAssessment.AssessmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffAssessment.AssessmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffAssessmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffAssessmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentAssessmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
