@model DGSappSem2Final.Models.Staff.Staff

@{
    ViewBag.Title = "Create Staff Member";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<h4>Create user QR Card</h4>
        <div class="w3-container w3-center">
            <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;" height="70px" , width="70px"></p>
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
        </div>*@
    <h1>@ViewBag.Name</h1>
    <p class="title">Teacher of Durban Girls Secondary School</p>

    <div>
        <img id="output" style="width:100%">
            <img src="@ViewBag.Url" width="250px" height="250px" alt="Image" />
    </div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');

        image.src = URL.createObjectURL(event.target.files[0]);

    };
</script>


<div>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Print QR Card", "Print")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
