@model DGSappSem2Final.Models.Events.VenueBooking


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VenueBooking</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Class.ClassName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Class.ClassName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Grade.GradeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Grade.GradeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Venue.venueName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Venue.venueName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VenueName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VenueName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClassName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClassName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GradeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GradeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RefNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RefNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateBookinFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateBookinFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingReason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingReason)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BookEventId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
