@model DGSappSem2Final.Models.Murals.StudentExtraMural

@{
    ViewBag.Title = "Details";
}

<h2>Details For Student Extramural</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuralMappedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuralMappedName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
