@model DGSappSem2Final.Models.Murals.ExtraMuralAgeGroups

@{
    ViewBag.Title = "Details";
}

<h2>Details Fpr Extramural</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExtraMuralName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMuralName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeGroupName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.NoAssignedStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoAssignedStudents)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTeacher)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
