@model DGSappSem2Final.Models.Murals.ExtraMuralAgeGroups

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExtraMuralAgeGroups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExtraMural.MuralName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMural.MuralName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraMuralName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMuralName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoAssignedStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoAssignedStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTeacher)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MuralAgeGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
