@model IEnumerable<DGSappSem2Final.Models.Staff.StaffSubjects>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GradeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTeacher)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTeacher)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StaffSubjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StaffSubjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StaffSubjectId })
        </td>
    </tr>
}

</table>
