<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<style>
    .dropbtn {
        background-color: #272b28;
        color: white;
        padding: 14px;
        font-size: 14px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #272b28;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DGHS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                    </ul>

                    <button onclick="admin()" class="dropbtn">Admin Portal</button>
                    <div id="adminPortaldropdown" class="dropdown-content">
                        <ul>@Html.ActionLink("Staff Positions", "Index", "StaffPositions")</ul>
                        <ul>@Html.ActionLink("Staff Members", "Index", "Staffs")</ul>
                        <ul>@Html.ActionLink("Terms", "Index", "Terms")</ul>
                        <ul>@Html.ActionLink("Grades", "Index", "Grades")</ul>
                        <ul>@Html.ActionLink("Grade Fees", "Index", "Fees")</ul>
                        <ul>@Html.ActionLink("Registration Classes", "Index", "Classes")</ul>
                        <ul>@Html.ActionLink("Subjects", "Index", "Subjects")</ul>
                        <ul>@Html.ActionLink("Grade Subjects", "Index", "GradeSubjects")</ul>
                        <ul>@Html.ActionLink("Staff Subject Assignments", "Index", "StaffSubjects")</ul>
                        <ul>@Html.ActionLink("Students", "Index", "Students")</ul>
                        <ul>@Html.ActionLink("Extra Murals", "Index", "ExtraMurals")</ul>
                        <ul>@Html.ActionLink("Extra Mural Teams", "Index", "ExtraMuralAgeGroups1")</ul>
                        <ul>@Html.ActionLink("Venues", "Index", "Venues")</ul>
                    </div>


                    <button onclick="staff()" class="dropbtn">Staff Portal</button>
                    <div id="staffPortaldropdown" class="dropdown-content">
                        <ul>@Html.ActionLink("Staff Attendance", "Index", "StaffAttendances")</ul>
                        <ul>@Html.ActionLink("Staff Timetables", "Index", "StaffTimetables")</ul>
                        <ul>@Html.ActionLink("Student Fees", "Index", "StudentFees")</ul>
                        <ul>@Html.ActionLink("Assessments", "Index", "StaffAssessments")</ul>
                        <ul>@Html.ActionLink("Venue Bookings", "Index", "VenueBookings")</ul>
                    </div>


                    <button onclick="student()" class="dropbtn">Student Portal</button>
                    <div id="studentPortaldropdown" class="dropdown-content">
                        <ul>@Html.ActionLink("Assessments", "Index", "StudentAssessments")</ul>
                        <ul>@Html.ActionLink("Extramural", "Index", "StudentMural")</ul>
                    </div>


                    <button onclick="library()" class="dropbtn">Library Portal</button>
                    <div id="libraryPortaldropdown" class="dropdown-content">
                        <ul>@Html.ActionLink("Library", "Index", "Books")</ul>
                        <ul>@Html.ActionLink("Book Reservations", "Index", "BookReservations")</ul>
                        <!--<ul>-->@*@Html.ActionLink("Book Return", "CheckIn", "BookReservations")*@<!--</ul>-->
                    </div>

                    @Html.ActionLink("About", "About", "Home", new { @class = "dropbtn" })

                   
               @Html.ActionLink("Contact", "Contact", "Home", new { @class = "dropbtn" })
    

                    @Html.Partial("_LoginPartial")
                </div></div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DGS Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function admin() {
            document.getElementById("adminPortaldropdown").classList.toggle("show");
        }

        function staff() {
            document.getElementById("staffPortaldropdown").classList.toggle("show");
        }

        function student() {
            document.getElementById("studentPortaldropdown").classList.toggle("show");
        }

        function library() {
            document.getElementById("libraryPortaldropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
