@model DGSappSem2Final.Models.Student.StudentFees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentFees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeBalance)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentFeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
