@model IEnumerable<DGSappSem2Final.Models.Student.StudentFees>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeeBalance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeBalance)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.StudentFeeId })

                @if (item.FeeBalance > 0)
                {
                    @Html.ActionLink(" | SMS Reminder", "SMSReminder", new { id = item.StudentFeeId })
                    @Html.ActionLink(" | Email Reminder", "EmailReminder", new { id = item.StudentFeeId })
                }
            </td>
        </tr>
}

</table>
